<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @video_upload.video %>
</p>

<%= link_to 'Edit', edit_video_upload_path(@video_upload) %> |
<%= link_to 'Back', video_uploads_path %>
