/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";

footer{
  margin: 75px 0px;
}
.navbar{
  background-color: transparent !important;
  position: relative;
  padding: 0px -39px;
  bottom: -15px;
}
.navbar-nav > li > a:hover{
  background-color: transparent !important;
}

.h-image{
	width: 100%;
  height: 450px;
  margin: -90px 0px;
}

.subtitle {
  font-size: 30px;
}

.fancy {
  line-height: 0.5;
  text-align: center;
  padding: 50px;
}

.title {
  padding: 52px;
}

/* section */
a:hover,a:focus{
  text-decoration: none;
  outline: none;
}

.tab .nav-tabs{
  border-bottom: 0 none;
  background: transparent;
}

.tab .nav-tabs li a{
  font-size: 16px;
  color: #333;
  background: transparent;
  border: none;
  padding: 12px 19px;
  border-radius: 30px;
  position: relative;
}

.tab .nav-tabs li.active a{
  border: 0 none;
  background: #ea3e4d;
  color: #fff;
}

.tab .nav-tabs li.active a:after{
  content: "";
  position: absolute;
  left: 45%;
  bottom: -14px;
  border: 7px solid transparent;
  border-top: 7px solid #ea3e4c;
}

.tab .tab-content{
  padding: 12px;
  font-size: 14px;
  color: #5a5c5d;
  line-height: 24px;
  margin-top: -19px;
  background: #fff;
}

@media only screen and (max-width: 480px) {
  .tab .nav-tabs li{
    width: 100%;
    margin-bottom: 10px;
  }
  .tab .nav-tabs li a{
    border: 1px solid #d3d3d3;
  }
  .tab .nav-tabs li.active a:after{
    border:none;
  }
}

/* CONTENT */
.content{
  background-color:pink;
}

/* FRONT TITLE*/
.front-title{
  color: white;
  position: absolute;
  margin: -240px 310px;
}

.front-title2{
  color: white;
  position: absolute;
  margin: -160px 480px;
}

.front-title3{
  color: white;
  position: absolute;
  margin: -220px 95px;
}

.front-title4{
  color: white;
  position: absolute;
  margin: -160px 385px;
}

.front-title5{
  color: white;
  position: absolute;
  margin: -176px 285px;
}

.btn-1{
  height: 50px;
  width: 152px;
  margin: 85px 209px;
  border: 2px solid #fff;
  border-radius: 25px;
  background: transparent;
}

.btn2{
  background-color: transparent;
  border: 2px solid #e93d4b;
  width: 219px;
  height: 40px;
  color: #e93d4b;
  border-radius: 12px;
} 

.btn3{
  background-color: #e93d4c;
  border: none;
  width: 280px;
  height: 50px;
  color: white;
  border-radius: 12px;
  font-size: 25px;
  margin: 100px;
}

.btn-4{
  background-color: #d2d2d2;;
  border: 2px solid #d2d2d2;;
  width: 219px;
  height: 40px;
  color: #67656bcc;
  border-radius: 12px;
} 

.a-contact{
  background: #ea3e4c;
  height: 405px;
  margin: -140px;
  border-bottom-left-radius:45%;
  border-bottom-right-radius:45%;
}

.b-contact{
  background: #fff;
  width:795px;
  height: 500px;
  position: relative;
  top: -90px;
  margin: -240px;
}

.c-contact{
  background: #fff;
  width: 795px;
  height: 500px;
  position: relative;
  top: -160px;
  margin: 0px 219px;
  box-shadow: 10px 10px 5px #9c9c9c;
}

.d-contact {
  background: #fff;
  width: 795px;
  height: 500px;
  position: relative;
  top: 0px;
  margin: -175px;
}

.form-control{
  display: block;
  width: 79%;
  height: 0px;
  padding: 25px 23px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar a{
  color: #ffffff;
}

.table{
  padding: 5px 28px;
  line-height: 4.428571;
}

.raise:hover,
  .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.raise {
  --color:#484746;
  --hover:#3a3333;
}

.div2 {
  width: 280px;
  height: 245px;    
  padding: 26px;
  border: 1px solid #ececec;
  margin: 17px 45px;
}

.title2{
  margin: -100px 390px 66px;
  position: relative;
  color:#fff;
  top: -350px;
  font-size: x-large;
}

.title3{
  margin: -40px 280px 66px;
  position: relative;
  color:#fff;
  top: -350px;
  font-size: x-large;
  text-align: -moz-center;
}

.thumbnail > img, .thumbnail a > img{
  display: block;
  max-width: 115px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #000;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #fff;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.img-circle{
  height: 130px;
  width: 130px;
}

.fact{
 margin: -370px 330px;
 position: absolute;
 color: white;
}

.cust{
  position: absolute;
  margin: -221px 340px;
  color: white;
  h6{
  display: inline;
  }
}

.dot {
  height: 130px;
  width: 130px;
  background-color: #e93d4b;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin: -345px 580px;
}

.div3{
  padding: 139px 0px;
}

.heading{
  position: relative;
  margin: -160px 90px;
  height: 410px;
  top: -120px;
  width: 220px;
}

.btnapp {
  background: transparent;
  border: 1px solid;
  color: #fff;
  padding: 13px 65px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 35px;
}

.btnapp2 {
  background: #fff;
  border: 1px solid;
  color: #e93d4b;
  padding: 14px 55px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 35px;
  margin: -2px -200px;
}

.contact1{
  margin: 184px 0px;
}

.contact2{
  background: #ea3e4c;
  height: 309px;
  margin: 0px;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.sm{
  top: -360px
}

.controlbtn{
  margin: -180px 88px;
}

/* FAQ Page */

.panel-heading {
  padding: 0;
  border:0;
  border-color: #fff;
}
.panel-default {
    border-color: #fff;
}
.panel-title>a, .panel-title>a:active{
  display:block;
  padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
}
.panel-heading  a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 

.car1{
  height: 550px;
  width: 100%;
}

/* carousle*/
.a1 {
  height: 410px;
  width: 100%;
}

#carousel-container {
  background-image:'testinomialbg.jpg' no-repeat;
  height: 550px;
}
carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  width: 80%;
  /* left: 50%; */
  margin-left: 10%;
  margin-top:10%;
  margin-bottom:10%;
  height: auto;
}

#homecarousel {
  position:relative;
  background: url('testinomialbg.jpg');
  width: 100%;
  height: auto;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: white;
  width: 100%;
} 

.carousel-indicators .active {
  background-color: #ea3e4c;
}
