/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@media print {
  .container {
    width: auto;
  }
}

body{
  font-family: serif;
  padding-bottom: 70px;
  height: 100%;
}

.footer {
  font-size: 14px;
  color: slategrey;
  padding-top: 24px;
  display: block;
  margin-top: 386px;
  box-sizing: border-box;
  position: relative;
  width: auto;
  font-family: open sans;
  margin-bottom: 80px;
}

.btn-4{
  background-color: #d2d2d2;;
  border: 2px solid #d2d2d2;;
  width: 230px;
  height: 40px;
  color: #67656bcc;
  border-radius: 25px;
} 

.navbar{
  background-color: transparent !important;
  position: relative;
  padding: 0px -39px;
  bottom: -30px;
  font-size: 20px;
}

.navbar-nav > li > a:hover{
  background-color: transparent !important;
}

                                                    /*HOME INDEX*/
.h-image{
  width: 100%;
  height: 750px;
  margin: -90px 0px;
}

.btn5 {
  color: #e93d4b;
  margin-bottom: 221px;    
  padding: 0px 15px;
  font-size: 30px;
  border: none;
} 

.front-title{
  color: white;
  position: absolute;
  margin: -350px 240px;
}

.subtitle {
  font-size: 30px;
}

.btn-1{
  height: 60px;
  width: 250px;
  margin: 60px 260px;
  border: 2px solid #fff;
  border-radius: 30px;
  background: transparent;
  font-size: 20px;
}

.btn-1:hover {
  background-color: white;
  color: #e93d4c ;
  border: 1px solid #e93d4c;
}

.fancy {
  line-height: 0.5;
  text-align: center;
  padding: 50px;
}

.d-contact {
  background: #fff;
  width: 795px;
  height: 500px;
  position: relative;
  top: -70px;
  margin: -275px;
  box-shadow: 0px 5px 10px 0px #888888;
}

.btn2{
  background-color: transparent;
  border: 2px solid #e93d4b;
  width: 219px;
  height: 65px;
  font-size: 15px;
  color: #e93d4b;
  border-radius: 30px;
  margin: 20px 0px;
} 

.btn2:hover {
  background-color: #e93d4c;
  color: white;
  border: 1px solid #e93d4c;
}

.btn3{
  background-color: #e93d4c;
  border: none;
  width: 360px;
  height: 50px;
  color: white;
  border-radius: 30px;
  font-size: 25px;
  margin: 15px;
}

.btn3:hover {
  background-color: white;
  color: #e93d4c;
  border: 1px solid #e93d4c;
}

.col-item2{
 margin: -430px 40px;
 color: black;
}

.title {
  padding: 52px;
}

.car1{
  height: 550px;
  width: 100%;
  margin: 18px 0px;
}

.a-contact{
  background: #ea3e4c;
  height: 440px;
  margin: 470px -95px;
  border-bottom-left-radius:55%;
  border-bottom-right-radius:55%;
  width: auto;
}

.b-contact{
  background: #fff;
  width:795px;
  height: 500px;
  position: relative;
  top: -60px;
  margin: -240px;
  box-shadow: 0px 5px 10px 0px #888888;
}

.contact2 {
  background: #ea3e4c;
  height: 430px;
  margin: 46px 0px;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

/* section */
a:hover,a:focus{
  text-decoration: none;
  outline: none;
}

.tab .nav-tabs{
  border-bottom: 0 none;
  background: transparent;
  margin: 140px 120px;
}

.tab .nav-tabs li a{
  font-size: 16px;
  color: #333;
  background: transparent;
  border: none;
  padding: 17px 78px;

  position: relative;
}

.tab .nav-tabs li.active a{
  border: 0 none;
  background: #ea3e4c;
  color: #fff;
}

.tab .nav-tabs li.active a:after{
  content: "";
  position: absolute;
  left: 45%;
  border: 7px solid transparent;
  border-top: 7px solid #ea3e4c;
}

.tab .tab-content{
  padding: 50px;
  font-size: 14px;
  color: #5a5c5d;
  line-height: 24px;
  margin: -70px -30px;
  background: #fff;
}

@media only screen and (max-width: 480px) {
  .tab .nav-tabs li{
    width: 100%;
    margin-bottom: 10px;
  }
  .tab .nav-tabs li a{
    border: 1px solid #d3d3d3;
  }
  .tab .nav-tabs li.active a:after{
    border:none;
  }
}

                                                    /* LANDING PAGE*/

.front-title3{
  color: white;
  position: absolute;
  margin: -460px 95px;
}

.heading{
  position: relative;
  margin: -546px 160px;
  height: 630px;
  top: -200px;
  width: 300px;
}

.btn {
  color: #e93d4b;
  margin-bottom: 221px;    
  padding: 0px 15px;
  font-size: 30px;
  border: none;
}

.c-contact{
  background: #fff;
  width: 795px;
  height: 500px;
  position: relative;
  top: -160px;
  margin: 0px 219px;
  box-shadow: 0px 5px 10px 0px #888888;
}

.pera{
  margin:170px 0px;
}

.pera2{
  margin:-200px 0px;
}

.pera3{
  margin: -200px 0px;
  padding: 250px;
}

.pera4{
  margin: 70px 0px;
}


.form-control{
  display: block;
  width: 79%;
  height: 0px;
  padding: 25px 23px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar a{
  color: #fff;
}

table{
  width: 105%;
}

table, th, td{
  padding: 25px;
  line-height: 0.428571;
  vertical-align: top;
  border-top: 0px solid #ddd;
}

.title2{
  margin: -100px 390px 66px;
  position: relative;
  color:#fff;
  top: -350px;
  font-size: x-large;
}

.title3{
  margin: -40px 280px 66px;
  position: relative;
  color:#fff;
  top: -350px;
  font-size: x-large;
  text-align: -moz-center;
}

.thumbnail > img, .thumbnail a > img{
  display: block;
  max-width: 115px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #000;
}

/* Dropdown container  */
.dropdown-container {
  display: none;
  background-color: #fff;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down{
  float: right;
  padding-right: 8px;
}

.img-circle{
  height: 130px;
  width: 130px;
  background-color: #ea3e4c;
}

.fact{
 margin: -635px 330px;
 position: absolute;
 color: white;
}

.cust{
  position: relative;
  margin: -365px 0px;
  color: white;
  font-size: 20px;
}

.dot{
  height: 130px;
  width: 130px;
  background-color: #e93d4b;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin: -345px 580px;
}

.div3{
  padding: 0px 0px;
  margin: 200px 0px;
}

.btnapp{
  background: transparent;
  border: 1px solid;
  color: #fff;
  padding: 13px 65px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 35px;
  margin: 35px 0px;
}

.btnapp2{
  background: #fff;
  border: 1px solid;
  color: #e93d4b;
  padding: 14px 55px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 35px;
  margin: 35px -200px;
}

.contact1{
  margin: 184px 0px;
}

.sm{
  top: -360px
}

.controlbtn{
  margin: -180px 88px;
}

/* FAQ Page */

.h-image2{
  width: 100%;
  height: 500px;
  margin: -90px 0px;
}

.front-title5{
  color: white;
  position: absolute;
  margin: -176px 285px;
}

.a-contact3{
  background: #ea3e4c;
  height: 440px;
  margin: 470px -95px;
  border-bottom-left-radius:55%;
  border-bottom-right-radius:55%;
  width: auto;
}
.b-contact3{
  background: #fff;
  width:795px;
  height: 500px;
  position: relative;
  top: -60px;
  margin: -240px;
  box-shadow: 0px 5px 10px 0px #888888;
}
.panel-heading {
  padding: 0;
  border:0;
  border-color: #fff;
}

.panel-default {
  border-color: #fff;
}

.panel-title>a, .panel-title>a:active{
  display:block;
  padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
}

.panel-heading  a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 

.nav-tabs1 > li {
    float: left;
    margin-bottom: 70px;
}
/* section */
a:hover,a:focus{
  text-decoration: none;
  outline: none;
}

.tab1 .nav-tabs1{
  border-bottom: 0 none;
  background: transparent;
  margin: 140px 0px;
}

.tab1 .nav-tabs1 li a{
  font-size: 20px;
  color: #000;
  background: transparent;
  border: none;
  padding: 17px 78px;

  position: relative;
}

.tab1 .nav-tabs1 li.active a{
  border: 1px solid #d6d4d4;
  box-shadow: 0px 5px 10px 3px #888888; 
  background: #fff;
  color: #000;
}

.tab1 .tab-content{
  padding: 50px;
  font-size: 14px;
  color: #5a5c5d;
  line-height: 24px;
  margin: 70px -30px;
  background: #fff;
}

@media only screen and (max-width: 480px) {
  .tab1 .nav-tabs1 li{
    width: 100%;
    margin-bottom: 10px;
  }
  .tab1 .nav-tabs1 li a{
    border: 1px solid #d3d3d3;
  }
  .tab1 .nav-tabs1 li.active a:after{
    border:none;
  }
}

/* carousle*/
.a1 {
  height: 550px;
  width: 100%;
}

#carousel-container {
  background-image:'testinomialbg.jpg' no-repeat;
  height: 550px;
}

carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  width: 80%;
  /* left: 50%; */
  margin-left: 10%;
  margin-top:10%;
  margin-bottom:10%;
  height: auto;
}

#homecarousel {
  position:relative;
  background: url('testinomialbg.jpg');
  width: 100%;
  height: auto;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: white;
  width: 100%;
} 

.carousel-indicators .active {
  background-color: #ea3e4c;
  display: inline-block;
  width: 40px;
  height: 8px;
  margin: 0px;
  text-indent: -999px;
  border-radius: 0;
  cursor: pointer;
  border-radius: 6px;
}

.carousel-indicators li {
  display: inline-block;
  width: 40px;
  height: 8px;
  margin: 0px;
  text-indent: -999px;
  border-radius: 0;
  cursor: pointer;
  background-color: #fff;
  border-radius: 6px;
}

/* POPUP Window */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 40px;
  width: 60%;
  text-align: center;
  margin-top: -60px;
  color: white;
  margin: 0 200px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.copy{
  margin: 50px;
  color: slategrey;
  display: inline-block;
  font-family: initial;
}

.text{
  padding: 35px;
  font-size: 25px;
}

.circle{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: #ea3e4c;
  margin: -15px;
  padding: 4px 5px;
}

.cusname{
  font-size: 25px;
}

.cusdes{
  font-size: 18px;
  color: #ea3e4c;
  margin: -25px;
}

.cusbtn{
  background-color: #ea3e4c; 
  border-radius: 37px; 
  width: 350px;
  height: 60px; 
  font-size: 30px;
  color: #fff;
  margin: 40px;
}

.hr{
  margin: 0px;
}

.font{
  font-size:42px;
}

#horizontal-list li {
  display: inline;
  margin: 15px;
}

/*ABOUT PAGE*/
.h-image1{
  width: 100%;
  height: 520px;
  margin: -90px 0px;
}

.front-title2{
  color: white;
  position: absolute;
  margin: -170px 480px;
}

.a-contact1{
  background: #ea3e4c;
  height: 440px;
  margin: 470px -95px;
  border-bottom-left-radius:55%;
  border-bottom-right-radius:55%;
  width: auto;
}

.b-contact1{
  background: #fff;
  width:795px;
  height: 500px;
  position: relative;
  top: -230px;
  margin: -550px;
  box-shadow: 0px 5px 10px 0px #888888;

}

.raise:hover,
  .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.raise {
  --color:#484746;
  --hover:#3a3333;
  margin: 15px;
}

.div2 {
  height: 280px;
  border: 1px solid #ececec;
  position: relative;
  bottom: -100px;
  width: 250px;
}

/*HOW IT WORK*/

.h-image3{
  width: 100%;
  height: 500px;
  margin: -90px 0px;
}
.front-title4{
  color: white;
  position: absolute;
  margin: -145px 400px;
}

/*CONTACT PAGE*/

.h-image4{
  width: 100%;
  height: 500px;
  margin: -90px 0px;
}

.front-title6{
  color: white;
  position: absolute;
  margin: -145px 330px;
}