<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "logo.png" %>
				<p>We can combine beautiful, modern designs with clean, functional and high-performance code to produce stunning Apps.</p>
			</div>
			<div class="col-sm-6">
				<table>
				  	<thead>
				    	<tr>
							<td>Company</td>
							<td>product</td>
							<td>support</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>About</td>
							<td>features</td>
							<td>Help Center</td>
						</tr>
						<tr>
							<td>Contact</td>
							<td>Security</td>
							<td>FAQ</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-3">
				<center>
					<button type="button" class="btn-4"><span style="font-size:25px; cursor:pointer;" onclick="openNav()">Get Started</span></button><br><br><br>
					<ul id="horizontal-list">
						<li><i class="fa fa-facebook-f" style="font-size:24px"></i></li>		
						<li><i class="fa fa-twitter" style="font-size:24px"></i></li>
						<li><i class="fa fa-instagram" style="font-size:24px"></i></li>
						<li><i class="fa fa-linkedin" style="font-size:24px"></i></li>
					</ul>
				</center>
			</div>
		</div>
	</div>
</footer>
	<div class="hr">
		<hr style="border-top: 1px solid #000; border-style: dotted;">
	</div>
	<center><div class="copy">Copyright @ 2018 <div style="color: red; display: inline-block;">Appscrip</div> . All Right Reserved</div></center>
<!-- <div class="hr">
	<hr style="border-top: 1px solid #000; border-style: dotted;">
</div> -->

 

